<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Trang Chủ</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Liên Hệ</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://bone3ngon.com.vn/nhuong-quyen-bo-ne-3-ngon/">nhượng quyền bò né</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://bone3ngon.com.vn/loi-ich-hop-tac-khi-tham-gia-nhuong-quyen-thuong-hieu-bo-ne-3-ngon/">Hợp tác</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://bone3ngon.com.vn/nhuong-cau-hoi-thuong-gap-khi-dau-tu-nhuong-quyen-thuong-hieu-bo-ne-3-ngon/">Câu hỏi thường gặp</i></a>
</li>
